{% extends 'base.html' %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post" novalidate>
      <!-- when action is an empty string the form is submitted to the URL -->
        <!-- novalidate removes form validation so you can test flask validation -->
          {{  form.hidden_tag()  }}
        <p>
            {{  form.username.label  }}
            <br>
            {{  form.username(size=32)  }}
        </p>
        <p>
            {{  form.password.label  }}
            <br>
            {{ form.password(size=32)  }}
        </p>
        <p>
            {{ form.remember_me()  }}
            {{ form.remember_me.label  }}
        </p>
        <p>
            {{ form.submit()  }}
        </p>
    </form>
    


{% endblock %}